services:
  jaeger:
    image: jaegertracing/jaeger:2.14.1
    environment:
      - LOG_LEVEL=debug
    ports:
      - "16686:16686"
  shardingsphere-agent-master-test:
    image: linghengqian/shardingsphere-agent-master-test:latest
    pull_policy: build
    build:
      context: .
      dockerfile_inline: |
        FROM eclipse-temurin:25.0.1_8-jdk AS jitbuild
        WORKDIR /build
        COPY ./ .
        RUN --mount=type=cache,target=/root/.m2 ./mvnw clean package -T1C -DskipTests

        FROM ghcr.io/apache/shardingsphere-agent:latest
        COPY ./target/*.jar /app.jar
        COPY ./custom-agent.yaml /usr/agent/conf/agent.yaml
        ENTRYPOINT ["java","-javaagent:/usr/agent/shardingsphere-agent.jar","-jar","/app.jar"]
    depends_on:
      - jaeger
